@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.font-style{
    
   
}
.nav-bg{
   
   
}
.nav-link{
   
    font-weight: 700;
   
}
.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.active:active {
    color: red;
  }